@mixin button($color, $bgColor, $px, $py, $font, $fontWei, $bgHover, $colorHover) {
  color: $color;
  background-color: $bgColor;
  padding: $px $py;
  font-size: $font;
  font-weight: $fontWei;
  transition: all .5s;
  cursor: pointer;

  &:hover {
    color: $colorHover;
    background-color: $bgHover;
  }
}

@mixin text($color, $fontSize, $fontWei, $mg-t, $mg-b) {
  color: $color;
  font-size: $fontSize;
  font-weight: $fontWei;
  margin-top: $mg-t;
  margin-bottom: $mg-b;
}

// @mixin responsive($screen){
//   @if map-has-key($map: $breakpoint, $key: $screen ){
//     $value:  map-get($map: $breakpoint, $key: $creen );
//     @media screen and (max-width: $value) {
//       @content;
//     }
//   }@else{
//     @warn"`{$screen}` is not exist in breakpoint"
//   }
// }
@mixin responsive($screen){
  @media screen and (max-width: $screen){
    @content;
  }
}
@mixin responsive-2($screen){
  @media screen and (min-width: $screen){
    @content;
  }
}